@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Teko", sans-serif;
  letter-spacing: 0.1rem;
}

.container-navbar .navbar {
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.container-navbar .navbar .logo {
  max-width: 120px;
}
.container-navbar .navbar .navbar-toggler {
  border: none;
  box-shadow: none;
}
.container-navbar .navbar .navbar-toggler .navbar-toggler-icon {
  color: #fff;
  font-size: 2rem;
}
.container-navbar .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.3s ease-in;
}
.container-navbar .navbar .navbar-nav .nav-item .nav-link:hover {
  color: dodgerblue;
}
.container-navbar .navbar .navbar-nav .nav-item .btn-member {
  background: dodgerblue;
  width: 100%;
  max-width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
}
.container-navbar .navbar .navbar-nav .nav-item .btn-member .fa-file-signature {
  line-height: 20px;
  opacity: 0;
}
.container-navbar .navbar .navbar-nav .nav-item .btn-member span {
  font-weight: 500;
  line-height: 30px;
  margin-left: -15px;
}
.container-navbar .navbar .navbar-nav .dropdown-menu {
  background: #252525;
}
.container-navbar .navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #c8c8c8;
}
.container-navbar .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
  color: dodgerblue;
  background: #252525;
}
@media screen and (min-width: 992px) {
  .container-navbar .btn-member {
    background: dodgerblue;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  .container-navbar .btn-member:hover {
    color: #fff !important;
    width: 200px;
  }
  .container-navbar .btn-member .fa-file-signature {
    line-height: 20px;
    opacity: 1 !important;
  }
  .container-navbar .btn-member span {
    font-weight: 500;
    line-height: 30px;
    margin-left: 10px !important;
  }
}

.container-app {
  font-size: clamp(1rem, -1.5rem + 8vw, 1.5rem);
}
.container-app .carousel-item .image1 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./assets/image-1.avif");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100dvh;
}
.container-app .carousel-item .image2 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("./assets/image-2.avif");
  background-size: cover;
  background-position-x: 65%;
  width: 100%;
  height: 100dvh;
}
.container-app .carousel-item .image3 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("./assets/image-3.avif");
  background-size: cover;
  background-position-x: 65%;
  width: 100%;
  height: 100dvh;
}
@media screen and (min-width: 768px) {
  .container-app .carousel-item .image1 {
    background-position-y: 10%;
  }
  .container-app .carousel-item .image3 {
    background-position-y: 50%;
  }
}
.container-app .carousel-item .caption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  color: #fff;
}
.container-app .carousel-item .caption .title-q {
  font-size: 2rem;
  color: dodgerblue;
}
.container-app .carousel-item .caption .btn-member {
  text-decoration: none;
  color: #fff !important;
  background: dodgerblue;
  border-radius: 5px;
  padding: 5px 10px;
  color: #252525;
  border: 1px solid dodgerblue;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.container-app .carousel-item .caption .btn-member:hover {
  background: none;
  border: 1px solid;
}
@media screen and (min-width: 992px) {
  .container-app .carousel-item .caption {
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .container-app .carousel-item .caption .title-q {
    color: dodgerblue;
  }
}
.container-app .about {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("./assets/about-image.jpeg");
  background-size: cover;
  background-position-x: -65%;
  height: 100dvh;
}
.container-app .about .container {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}
.container-app .about .container h1 {
  text-transform: uppercase;
  font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
}
.container-app .about .container h1::before {
  content: "";
  border-left: 5px solid dodgerblue;
  padding-left: 5px;
}
.container-app .about .container span {
  text-transform: uppercase;
  font-weight: 500;
  font-size: clamp(1rem, -1.5rem + 8vw, 1.5rem);
}
.container-app .about .container span #lakeside {
  color: dodgerblue;
}
@media screen and (min-width: 768px) {
  .container-app .about {
    background-position-x: 65%;
  }
}

.services {
  background: #252525;
  padding: 20px 0;
}
.services .container .title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(1rem, -1.5rem + 8vw, 1.5rem);
}
.services .container .title::before {
  content: "";
  border-left: 5px solid dodgerblue;
  padding-left: 5px;
}
.services .container .image-bx {
  position: relative;
  height: auto;
  overflow: hidden;
}
.services .container .image-bx:hover .caption {
  opacity: 1;
  transform: translateY(0%);
}
.services .container .image-bx img {
  background: #252525;
  opacity: 0.8;
  height: 420px;
}
.services .container .image-bx h1 {
  color: #fff;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 420px;
  width: 100%;
  z-index: 1;
  text-transform: uppercase;
}
.services .container .image-bx .caption {
  color: #fff;
  background: #252525;
  height: 550px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(100%);
  font-family: "Ubuntu", sans-serif;
}
.services .container .image-bx .caption p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.promo {
  background: #252525;
  padding: 20px 0;
}
.promo .container .title {
  font-size: clamp(1rem, -1.5rem + 8vw, 1.5rem);
  color: #fff;
  text-transform: uppercase;
}
.promo .container .title::before {
  content: "";
  border-left: 5px solid dodgerblue;
  padding-left: 5px;
}
.promo .container .card {
  background: #29282d;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}
.promo .container .card p {
  font-size: clamp(1rem, 0.5313rem + 1.5vw, 1.375rem);
}
.promo .container .card .text-muted {
  color: dodgerblue !important;
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: clamp(1rem, -1.5rem + 8vw, 1.5rem);
}
.promo .container .card .btn-register {
  border: 1px solid #fff;
  padding: 5px 10px;
  width: fit-content;
}
.promo .container .card .btn-register a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease-in-out;
  font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);
}
.promo .container span {
  color: #fff;
  font-size: clamp(1rem, -1.5rem + 8vw, 1.5rem);
}

.video {
  background: #252525;
  padding: 20px 0;
}
.video .container {
  position: relative;
}
.video .container .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.video .container .caption p {
  width: 100%;
}

.contact {
  background: #252525;
  padding: 20px 0;
}
.contact .container .img-fluid {
  width: 100%;
  max-width: 350px;
}
.contact .container .title {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: clamp(1rem, -1.5rem + 8vw, 1.5rem);
}
.contact .container .details {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: clamp(1rem, -1.5rem + 8vw, 1.5rem);
}
.contact .container .card input,
.contact .container .card textarea {
  border: 1px solid #29282d;
  box-shadow: none;
}
.contact .container .card button {
  text-transform: uppercase;
  background: dodgerblue;
  color: #fff;
}/*# sourceMappingURL=styles.css.map */